.dashboard_container {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: tahoma, sans-serif;
  font-style: normal;
  gap: 100px;
  font-weight: 400;
  padding: 20px;
  height: 100%;
}

.dashboard_feed_container {
  display: flex;
  gap: 2rem;
}

.dashboard_feed_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 750px;
  max-width: 750px;
  gap: 0.5rem;
}

.dashboard_list_content {
  width: 20%;
  background-color: blueviolet;
}
