.dashboard_container {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: tahoma, sans-serif;
  font-style: normal;
  gap: 2rem;
  font-weight: 400;
  padding: 20px;
  min-height: calc(100vh - 60px);
  max-width: 1200px;
  margin: 0 auto;
}

.dashboard_feed_container {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: center;
}

.dashboard_feed_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 750px;
  max-width: 750px;
  gap: 0.5rem;
}

.dashboard_list_content {
  width: 300px;
  background-color: blueviolet;
  flex-shrink: 0;
}
