.container {
  display: flex;
  min-height: 100vh;
}

.content {
  margin-left: 300px;
  padding-top: 90px;
  flex: 1;
  background-color: #1a1a1a;
}

.contentInner {
  padding: 20px;
  min-height: calc(100vh - 90px);
}
