.newpost_container{
    display: flex;
    width: 100%;
    border-radius: 8px;
    color: #fefefe;
    gap: 0.5rem;
}

.newpost_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.newpost_content input{
    width: 100%;
    border-radius: 8px 8px 0 0;
    padding: 2rem;
    background-color: #101114;
    border: none;
    border-bottom: 1px solid #cccccc2c;
    font-size: 20px;
    outline: none;
    color: #fefefe;
}

.profile{
    display: flex;
    width: 45px;
    height: 45px;
    background-color: #101114;
    border: solid 1px #101114;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 16px;
    cursor: pointer;
}

.newpost_buttons{
    display: flex;
    justify-content: right;
    width: 100%;
    background-color: #101114;
    padding: 1rem;
    border-radius: 0 0 8px 8px;
}

.newpost_buttons select{
    width: 30%;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: #fefefe;
    cursor: pointer;
    font-size: 20px;
}

.newpost_buttons button{
    padding: 0.5rem;
    width: 30%;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: #fefefe;
    cursor: pointer;
    font-size: 20px;
    opacity: 90%;
}

.newpost_buttons button:hover{
    opacity: 100%;
}